#toggle-menu {
    position: absolute;
    top: 10px;
    left: 280px;
    z-index: 999;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
}
.page-title {
    position: absolute;
    top: 12px;
    left: 310px;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    transition: left .2s linear;
}

.btn-create {
    position: absolute;
    top: 15px;
    z-index: 999;
}

.upload-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border: 1px dashed #ccc;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}
.upload-image span {
    background-color: #f6f6f6;
    padding: 5px;
    border-radius: 5px;
}
#form_khoi_luong {
    position: relative;
}
#span_khoi_luong {
    position: absolute;
    top: 35px;
    right: calc(50% + 10px);
    color: #ccc;
    transition: color .3s linear;
}
#khoi_luong:focus ~ #span_khoi_luong {
    color: #80bdff;
}
.select-collapse:checked ~ .collapse {
    display: block;
}
.form-control {
    padding: 10px;
}
.cursor-pointer {
    cursor: pointer;
}
.ck-editor__editable_inline {
    min-height: 400px;
}
.line {
    margin-top: 10px;
}
.nav-tabs .nav-link {
    padding: 0.3em 1rem !important;
}

.tab-content {
    border: 1px solid #e0e0ef;
    border-top: 0;
    padding: 1rem;
    text-align: justify;
}
table thead tr th::after {
    right: 1.2em !important;
}
.badge {
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 10px;
}
